<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>



<div class="overlay closed" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li> <%= link_to 'READ', "/", method: :get %> </li>
      <li> <a href="/">EVENTS</a> </li>
      <li> <%= link_to 'ARTISTS', issues_path, method: :get %> </li>
      <li> <a href="/">ABOUT OUZI</a> </li>
      <li> <a href="/">SUBMISSIONS</a> </li>
      <li> <a href="/">RESOURCES</a> </li>
      <li> <a href="/">CONTACT</a> </li>
      <li> <a href="/">VIDEOS</a> </li>
      <li> <a href="/">MUSIC</a> </li>
    </ul>
  </nav>
</div>