<div id="logoDiv">
	<img id="logoPng" class="center" src="https://s3.amazonaws.com/uncoveredpictures/ouzi/TCC_Logo.png">
</div>

<hr width="100%" color="#D3D3D3">

<div class="center snap">
	Snap it up.
</div>
<hr width="100%" color="#DCDCDC">

<div class="mainText">
	<img class="snapchat" src="https://s3.amazonaws.com/uncoveredpictures/ouzi/ghostEmoji.png" height="250" width="250">
	<div class="offerText"> Congratulations! Today's deal: 25% off Bluetooth Headphones* </div>
	<div class="codeBox">
		<div id="code"> CODE: </div>
		<span class="codeText">
			<%= @code.code %> <% @code.destroy %>
		</span>
	</div>
	
	<div>
		<img id="IconPng" src="https://s3.amazonaws.com/uncoveredpictures/ouzi/bluetoothheadphones.png">
		<img id="StickerPng" src="https://s3.amazonaws.com/uncoveredpictures/ouzi/250ff.png">
	</div>

	<div class="instructions">
		Show your screen to a<br> sales associate to redeem this offer.<br> *While supplies last.
	</div>
</div>

<!-- <div class="lastText">
	<div class="rescan">
		<center> Rescan the snapcode tomorrow to unlock even more <span id="deals">deals!</span> <center>
	</div>
</div> -->



