<!DOCTYPE html>
<html>
  <head>
    <title>Ouzi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/png" href="assets/black1favicon.png"> <!-- FAVICON IMAGE -->
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
