<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ouzi</title>
    <meta charset="utf-8">
    <meta name="description" content="Artistic Inspiration">
    <meta name="keywords" content="OUZI,Magazine,Art,Photography">
    <meta name="author" content="Wilfred Ruck">
    <meta property="og:title" content="OUZI">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/uncoveredpictures/ouzi/black1favicon.png"> 

    <!-- FAVICON IMAGE -->
    <!-- load JQuery and UI from Google (need to use UI to animate colors) -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
