<div class="blackBody">
	<%= button_to "Home", "/", :class => "btn-sm btn-success", :method => :get %>

	<div id="flipbook">
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/desireeKelly.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/lostboy.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/man.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/blackking.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/transparentRelationship.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/nakedYoga.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/weThemBoys.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/tupac.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/linaVictor.jpg" class="img-responsive magazineImage"> </div>
		<div> <img src="https://s3.amazonaws.com/uncoveredpictures/ouzi/afroticious.jpg" class="img-responsive magazineImage"> </div>
		<div class="hard"></div>
	</div>


</div>



<script>
	$("#flipbook").turn({		
		width: 925,
		height: 725,
		autoCenter: true
	});
</script>