<body class="bodyColor bodyEdits">

  <div id="load" class="load">
    <div>L</div>
    <div>O</div>
    <div>A</div>
    <div>D</div>
    <div>I</div>
    <div>N</div>
    <div>G</div>

    <div>O</div>
    <div>U</div>
    <div>Z</div>
    <div>I</div>
  </div>

  <!-- <div class="loader"></div> NEW PAGE LOADER  --> 

  <div class="container">
    <div class="row">

      <div class="col-md-12">
      	<div class="logo originalLogo"></div>
        <div> <%= render 'partials/landingNav' %> </div>
      </div>

    </div>
  </div>
  
</body>


<!-- BURGER TOGGLE & LOGO TRANSFORMATION - JAVASCRIPT -->
<script> 
 $('#toggle').click(function() {

    var b = document.querySelector('.bodyEdits');
    var p = document.querySelector('.logo');

   $(this).toggleClass('active');
   
   $('#overlay').toggleClass('open');
   $('#overlay').toggleClass('closed');

      if ($('#overlay').hasClass('open')){	//when menu is open
        $("body").animate({
          backgroundColor: "#000000"
        }, 300 );

        $(p).addClass('menuOpenLogo');
        $(p).removeClass('originalLogo');

      };
      if ($('#overlay').hasClass('closed')){  //when menu is closed
        $("body").animate({
          backgroundColor: "#FFFFFF"
        }, 300 );

        $(p).removeClass('menuOpenLogo');
        $(p).addClass('originalLogo');
      };
  });
</script>