<body class="issues">
	<div class="container" id="menuFade">
	  <div class="row">
	    <div class="col-md-12">

	    	<%= link_to 'HOME', "/", method: :get %>
        
        <div class="floatIssues">
          <div class="issue1 issueDiv">Issue 1</div>
          <div class="issue2 issueDiv">Issue 2</div>
          <div class="issue3 issueDiv">Issue 3</div>
          <div class="issue4 issueDiv">Issue 4</div>
        </div>
        
	      <div> <%= render 'partials/landingNav' %> </div>

	    </div>
	  </div>
	</div>
</body>






<!-- BURGER TOGGLE - JAVASCRIPT -->
<script> 
 $('#toggle').click(function() {

   $(this).toggleClass('active');
   
   $('#overlay').toggleClass('open');
   $('#overlay').toggleClass('closed');

      if ($('#overlay').hasClass('open')){	//when menu is open
        
        $("body").animate({
          backgroundColor: "#FFDF00"
        }, 500 );
      }

      if ($('#overlay').hasClass('closed')){  //when menu is closed
        
        $("body").animate({
          backgroundColor: "white"
        }, 500 );
  	  };

 });
</script>