<body class="issues">
	<div class="container" id="menuFade">
	  <div class="row">
	    <div class="col-md-12">

	    	<div><button><%= link_to 'HOME', "/", method: :get %></button>MAGAZINE ISSUES</div>
        
        <div class="floatIssues1">
          <div class="skrollr-group">
            <div class="card-row1">
              
              <div class="issue1 issueDiv floating-1">
                <div class="card-title-month">JAN</div>
              </div>
              <div class="issue2 issueDiv floating-2">
                <div class="card-title-month">FEB</div>
              </div>

            </div>
            <div class="card-row2">
              
              <div class="issue3 issueDiv floating-3">
                <div class="card-title-month">MAR</div>
              </div>
              <div class="issue4 issueDiv floating-4">
                <div class="card-title-month">APR</div>
              </div>

            </div>
          </div>
        </div>

        <!-- <div class="floatIssues2">
          <div class="skrollr-group">
            <div class="card-row3">
              
              <div class="issue1 issueDiv floating-1">
                <div class="card-title-month">MAY</div>
              </div>
              <div class="issue2 issueDiv floating-2">
                <div class="card-title-month">JUN</div>
              </div>

            </div>
            <div class="card-row4">
              
              <div class="issue3 issueDiv floating-1">
                <div class="card-title-month">JUL</div>
              </div>
              <div class="issue4 issueDiv floating-2">
                <div class="card-title-month">AUG</div>
              </div>

            </div>
          </div>
        </div>
        
        <div class="floatIssues3">
          <div class="skrollr-group">
            <div class="card-row5">
            
              <div class="issue1 issueDiv floating-1">
                <div class="card-title-month">SEP</div>
              </div>
              <div class="issue2 issueDiv floating-2">
                <div class="card-title-month">OCT</div>
              </div>

            </div>
            <div class="card-row6">
              
              <div class="issue3 issueDiv floating-1">
                <div class="card-title-month">NOV</div>
              </div>
              <div class="issue4 issueDiv floating-2">
                <div class="card-title-month">DEC</div>
              </div>

            </div>
          </div>
        </div> -->

	      <div> <%= render 'partials/landingNav' %> </div>

	    </div>
	  </div>
	</div>
</body>






<!-- BURGER TOGGLE - JAVASCRIPT -->
<script> 
 $('#toggle').click(function() {

   $(this).toggleClass('active');
   
   $('#overlay').toggleClass('open');
   $('#overlay').toggleClass('closed');

      if ($('#overlay').hasClass('open')){	//when menu is open
        
        $("body").animate({
          backgroundColor: "#FFDF00"
        }, 500 );
      }

      if ($('#overlay').hasClass('closed')){  //when menu is closed
        
        $("body").animate({
          backgroundColor: "white"
        }, 500 );
  	  };

 });
</script>