@import url('https://fonts.googleapis.com/css?family=Vollkorn|Roboto|Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.bodyColor{
	background-color: white;
}

.blackBody {
	background-color: black;
	height: 100vh;
}

.originalLogo {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/613grey.png");
	display: block;
    margin-left: 600px;
    margin-top: 120px;
	height: 700px;
	width: 700px;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.menuOpenLogo {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/white1.png");
	display: block;
    margin-left: 600px;
    margin-top: 120px;
	height: 700px;
	width: 700px;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*.landingImage {*/
	/*text-align: center;
	position: relative;
	top: 50px;
/*	line-height: .7;
*/	/*font-size: 350px;
    color: transparent;    
    background: url(smoke.jpg) center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

.displayNone{
	display: none;
}

#overlay {
	position: absolute;
	z-index: 3;
	height: 100vh;
}

.btn-sm {
	position: relative;
	z-index: 4;
}

.magazineImage {
	padding-top: 50px;
	height: 425px;
	width: 950px;
}

.issues {
	background-color: white;
}

.floatIssues1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.floatIssues2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.floatIssues3 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.issueDiv {
	height: 400px;
	width: 500px;
	color: white;
	font-size: 100px;
	font-weight: bolder;
	text-shadow: 2px 2px #000000;
	user-select: none;
}

.issue1 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/websitephoto.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	/*position: relative;
	top: 400px;*/
	z-index: 50;
}

.issue2 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/blackking.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*position: relative;
	left: 300px;
	z-index: 40;*/

}

.issue3 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/man.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*position: relative;*/
	z-index: 30;	
}

.issue4 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/stairs.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*position: relative;
	left: 300px;
	bottom: 400px;*/
	z-index: 20;
}

.issueDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}