@import url('https://fonts.googleapis.com/css?family=Vollkorn|Roboto|Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.bodyColor{
	background-color: white;
}

.blackBody {
	background-color: black;
	height: 100vh;
}

.originalLogo {
	background-image: url("https://image.ibb.co/cc1hyS/ouzi_landing.png");
	display: block;
    margin-left: 375px;
    margin-top: 120px;
	height: 500px;
	width: 500px;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.menuOpenLogo {
	background-image: url("https://image.ibb.co/bLeVk7/ouzi_landing2.png");
	display: block;
    margin-left: 375px;
    margin-top: 120px;
	height: 500px;
	width: 500px;
	position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*.landingImage {*/
	/*text-align: center;
	position: relative;
	top: 50px;
/*	line-height: .7;
*/	/*font-size: 350px;
    color: transparent;    
    background: url(smoke.jpg) center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

.displayNone{
	display: none;
}

#overlay {
	position: absolute;
	z-index: 3;
	height: 100vh;
}

.btn-sm {
	position: relative;
	z-index: 4;
}

.magazineImage {
	padding-top: 120px;
	height: 5px;
	width: 15px;
}

.issues {
	background-color: white;
	margin: 110px;
	margin-top: 10px;
	margin-bottom: none;
}

/*.floatIssues1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.floatIssues2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.floatIssues3 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}*/

.card-row {
	position: relative;
}

.floating-1 {
	position: absolute;
	left: 0;
	top: 0;
}

.floating-2 {
	position: absolute;
	right: 0;
	top: 0;
}

.floating-3 {
	position: absolute;
	left: 0;
	bottom: 0;
}

.floating-4 {
	position: absolute;
	right: 0;
	bottom: 0;
}


.issue1 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/weThemBoys.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.issue2 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/blackking.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.issue3 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/man.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.issue4 {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/ouzi/afroticious.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.issueDiv:hover{
	/*filter: grayscale(100%);*/
	background-image: none;
	background-color: #EC1A53;;
	/*z-index: 99;*/
}

.issueDiv {
	height: 300px;
	width: 400px;
	color: white;
	font-size: 100px;
	font-weight: bolder;
	text-shadow: 2px 2px #000000;
	user-select: none;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	animation: 
    stretch
    10.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
	
    transition: .5s;
}

.skrollr-group {
	position: relative;
	height: 90vh;
}

.card-row1 {
	top: 0;
}

.card-row2 {
	bottom: 0;
}

.issuesMenu {
	position:relative;
	left: 125px;
	bottom: 665px;
}

.skinny-wrapper {
	display: table;
	margin: 0 auto;
}

.input {
	margin-right: 200px;
	padding-bottom: 10px;
	width: 100%;
}

.textarea {
	margin-right: 200px;
	padding-bottom: 50px;
	width: 100%;
}

.button {
	background-color: #bad433;
	border: 2px #bad433 solid;
	color: black;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-radius: 0;
	outline: none;
	margin-top: 10px;
}

.contact-container {
	margin-top: 70px;
}

@keyframes stretch {
  0% {
    transform: scale(1);
    transform: rotateY(40deg);
  }
  50% {
  }
  100% {
    transform: scale(1.05);
    transform: rotateX(40deg);
  }
}

@media only screen and (min-width: 1326px) { /*1633px*/
	.originalLogo{
		height: 600px;
		width: 600px;
		margin-left: 675px;
		margin-top: 130px;
	}

	.menuOpenLogo {
		height: 600px;
		width: 600px;
		margin-left: 675px;
		margin-top: 130px;
	}

	.skrollr-group {
		height: 70vh;
	}

	.issues {
		margin: 400px;
		margin-top: 50px;
		margin-bottom: none;
	}

	.issuesMenu {
		position:relative;
		left: 410px;
		bottom: 760px;
	}
}


@media only screen and (max-width: 415px) {
	.originalLogo{
		height: 600px;
		width: 600px;
		margin-left: 675px;
		margin-top: 130px;
	}

	.menuOpenLogo {
		height: 600px;
		width: 600px;
		margin-left: 675px;
		margin-top: 130px;
	}

	.skrollr-group {
		height: 70vh;
	}

	.issues {
		margin: 400px;
		margin-top: 50px;
		margin-bottom: none;
	}

	.issuesMenu {
		position:relative;
		left: 410px;
		bottom: 760px;
	}
}